<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task_path(task) %>
      <%= link_to 'Delete', task_path(task), method: 'DELETE', data: {confirm: 'Are you sure you want to delete this task?'} %>
    </li>
  <% end %>
</ul>
